<mat-card class="max-w-lg mx-auto mt-8">
  <mat-card-content>
    <form (ngSubmit)="submitTodo()" class="flex gap-2 mb-4 items-center">
      <mat-form-field class="flex-1" appearance="outline">
        <mat-label>{{ editingTodo() ? '修改' : '新增' }}待辦事項</mat-label>
        <input
          #todoInput
          matInput
          [ngModel]="inputTodo()"
          (ngModelChange)="inputTodo.set($event)"
          (blur)="submitTodo()"
          name="todo"
          placeholder="輸入待辦事項"
        />
        <mat-icon
          (click)="submitTodo()"
          matSuffix
          class="cursor-pointer rotate-0 hover:text-blue-500 transition-all duration-300 hover:rotate-180"
          >{{ editingTodo() ? 'edit' : 'add' }}</mat-icon
        >
      </mat-form-field>
    </form>

    <ul class="flex flex-col gap-2">
      @for (todo of todos(); track todo.id) {
      <li class="flex items-center justify-between">
        <mat-checkbox
          class="flex-1"
          [checked]="todo.completed"
          (change)="toggleComplete(todo)"
        >
          <span
            [class.line-through]="todo.completed"
            [class.text-gray-400]="todo.completed"
          >
            {{ todo.text }}
          </span>
        </mat-checkbox>
        <div class="flex gap-2">
          @if (!todo.completed) {
          <button mat-icon-button (click)="editTodo(todo)">
            <mat-icon>edit</mat-icon>
          </button>
          }
          <button mat-icon-button (click)="deleteTodo(todo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
      }
    </ul>
  </mat-card-content>
</mat-card>
