@use '@angular/material' as mat;
@use 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'material-icons/iconfont/material-icons.css';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

/* You can add global styles to this file, and also import other style files */
/* 字體變數 */
$font-family: 'Roboto', 'Noto Sans TC', sans-serif;

/* 設定全域字體 */
body {
  font-family: $font-family;
}

/* Light Theme */
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: $font-family,
      density: 0,
    )
  );
}

/* Dark Theme */
html.dark {
  --mdc-elevated-card-container-color: #333;

  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: $font-family,
      density: 0,
    )
  );
}

mat-form-field {
  * {
    border-style: unset;
  }
}
